<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!-- comment 1-->
    <add key="FolderPath" value="f:\Quantify_Image_Quality\homogenity test wins13"/>
    <!-- comment 2-->
    <add key="FileExtension" value="raw"/>
  </appSettings>
</configuration>
