<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <variable name="myvar" value="myvalue"/>


  <targets>
    <target xsi:type="ColoredConsole" name="coloredconsole1">
      <layout xsi:type="SimpleLayout"/>
      <highlight-row foregroundColor="DarkCyan" backgroundColor="Black" condition="true"/>
    </target>

    <target name="filelogger1" xsi:type="File"
            archiveEvery="Day"
            maxArchiveFiles="14"
            archiveFileName="${basedir}//Log//Archive//${logger}-Loading-{#}.log"
            archiveNumbering="Sequence"
            autoFlush="true"
            concurrentWrites="true"
            encoding="iso-8859-2"
            fileName="${basedir}//Log//${logger}-Loading.log"
            keepFileOpen="true"
            openFileCacheSize="15"
            layout="${longdate} (${level}):${message}${exception:format=tostring}" />
    
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="filelogger1" />
    <logger name="*" minlevel="Trace" writeTo="coloredconsole1" />
  </rules>
</nlog>
