<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>

      <target xsi:type="File"
              name="LoggerTraceTarget"
              layout="$${date:format=HH\:mm\:ss.fff} ${logger} (${level}):${message}"
              encoding="utf-16"
              archiveAboveSize="20000"
              maxArchiveFiles="5"
              archiveFileName="${basedir}\\Archive\\Archive-{##}.log"
              archiveNumbering="Rolling"
              archiveOldFileOnStartup="True"
              replaceFileContentsOnEachWrite="False"
              fileAttributes="Normal"
              fileName="${basedir}\\${logger}.log"
              deleteOldFileOnStartup="False"
              enableFileDelete="True"
              createDirs="True"
              concurrentWrites="True"
              openFileCacheTimeout="5"
              openFileCacheSize="True"
              networkWrites="False"
              concurrentWriteAttemptDelay="5"
              concurrentWriteAttempts="5"
              autoFlush="True"
              keepFileOpen="False"
              forceManaged="False"
              enableArchiveFileCompression="False"
              cleanupFileName="False" />

       <target name="ConsoleTarget" 
              xsi:type="ColoredConsole"
              layout="${machinename} $${date:format=HH\:mm\:ss.fff} ${loggger} ${message}"/>

        
  </targets>

  <rules>


      <logger name="*" minlevel="Error" writeTo="ConsoleTarget" />
      <logger name="*" minlevel="Trace" writeTo="LoggerTraceTarget" />
  </rules>
</nlog>
